@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header .pages {
  padding: 17px 0px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #E8E8E8;
}

.header .pages__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 75%;
}

.header .pages__link a {
  text-decoration: none;
  font-size: 14px;
  color: #3A3A3A;
}

.header .pages__mail {
  display: flex;
  align-items: center;
  width: 25%;
  margin-left: 30px;
}

.header .pages__mail a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3A3A3A;
  font-weight: bold;
  font-size: 16px;
}

.header .pages__mail a img {
  margin-right: 5px;
}

.header .contacts {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  align-items: center;
  width: 100%;
}

.header .contacts__logo {
  width: 33%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.header .contacts__logo img {
  margin-bottom: 10px;
}

.header .contacts__social {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
}

.header .contacts__social .cta {
  color: #408AB1;
  padding: 18px 35px;
  border: 3px solid #10BCF4;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

.header .contacts__social .vb, .header .contacts__social .tg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 100px;
  height: 50px;
  border: 1px solid #E8E8E8;
  text-decoration: none;
}

.header .contacts__phone {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .contacts__phone .ico {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  border: 1px solid #E8E8E8;
}

.header .contacts__phone .phone {
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: #3A3A3A;
}

.header .contacts__phone .phone span {
  color: #10BCF4;
}

.header .menu {
  background: #10BCF4;
  width: 100%;
}

.header .menu__list {
  display: flex;
  align-items: center;
}

.header .menu__item {
  padding-left: 10px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 25%;
  border-right: 2px solid #13ACDE;
  border-radius: 2px;
  padding-right: 35px;
}

.header .menu__item:last-child {
  border-right: 0px;
}

.header .menu__item img {
  margin-right: 10px;
}

.header .menu__item .dropdown {
  z-index: 3;
  display: none;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  left: -5px;
  top: 70px;
  width: 110%;
  border-radius: 0px 0px 10px 10px;
}

.header .menu__item .dropdown__list {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.header .menu__item .dropdown__link {
  display: flex;
  border-bottom: 1px solid #E8E8E8;
}

.header .menu__item .dropdown__link a {
  padding: 12px;
  text-transform: uppercase;
  width: 100%;
  text-decoration: none;
  width: 100%;
  color: #3A3A3A;
  font-size: 12px;
  transition: color .2s ease;
}

.header .menu__item .dropdown__link a:hover {
  color: #10BCF4;
}

.header .menu__item:hover {
  background: #0090BF;
}

.header .menu__item:hover .dropdown {
  display: inline-block;
  transition: all .3s ease;
}

.header .menu__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
  position: relative;
}

.header .menu__link::before {
  content: '';
  position: absolute;
  z-index: 2;
  height: 6px;
  width: 10px;
  background: url("../image/header/menu/arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 10px;
  right: -25px;
}

.prime {
  width: 100%;
  padding-top: 75px;
}

.prime .breadcrumbs {
  width: 100%;
  padding-bottom: 20px;
}

.prime .breadcrumbs__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.prime .breadcrumbs__item {
  margin-right: 35px;
  position: relative;
}

.prime .breadcrumbs__item:not(:last-child)::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 5px;
  right: -15px;
  top: 5px;
  background: url("../image/prime/arrow.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.prime .breadcrumbs__link {
  text-decoration: none;
  color: #3A3A3A;
  font-size: 13px;
}

.prime .breadcrumbs__link.active {
  color: #10BCF4;
}

.prime .content {
  width: 100%;
}

.prime .content__title {
  font-size: 50px;
  color: #3A3A3A;
  margin-bottom: 90px;
}

.prime .content__wrap {
  width: 100%;
  display: flex;
  align-items: center;
}

.prime .content__text {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.prime .content__text h3 {
  font-size: 35px;
  padding-bottom: 35px;
  line-height: 130%;
}

.prime .content__text p {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #717171;
}

.prime .content__text p img {
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */